p{
  color: #FFFFFF;
  font-family: 'Montserrat';
}

h5{
  color: #D2509F;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 0.2vh;
}

.flex-column{
  margin: 1vh 1vw;
  padding: 1.5vh 2vw;
}
