<div class="row align-content-around justify-content-center">
  <div class="col-12 col-md-5 flex-column justify-content-around " style="background-color: #28262A; display: flex" >
    <div class="justify-content-center" style="text-align: center">
      <img src="assets/Image/logo-01.svg" style="width: 70%">
    </div>

    <div>
      <h5>Type</h5>
      <p>University club</p>
    </div>
    <div>
      <h5>RIB</h5>
      <p>12345789</p>
    </div>
  </div>
  <div class="col-12 col-md-5 flex-column justify-content-around" style="background-color: #28262A; display: flex">
    <div>
      <h5>University Name</h5>
      <p>INSAT</p>
    </div>
    <div>
      <h5>Email</h5>
      <p>sponsohype@gmail.com</p>
    </div>
    <div>
      <h5>Domain</h5>
      <p>Environment</p>
    </div>
    <div>
      <h5>Phone</h5>
      <p>53 535 535</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-10 flex-column justify-content-around" style="background-color: #28262A; display: flex; margin: 1vh 2vw">

      <h5>Description</h5>
      <p>Lorem ipsum dolor sit amet,
        consectetur adipiscing elit,
        sed do eiusmod tempor
        incididunt ut labor  e et
        dolore magna aliqua. Ut
        enim ad minim  veniam,
        quis nostrud exercitation
        ullamco laboris nisi ut
        aliquip ex ea commodo
        consequat</p>

    </div>
  </div>

</div>
