<div style="width: 100vw">

<div class="cover jumbotron jumbotron-fluid img-fit" id="start" style="background-image: url('assets/Image/homeBackground.jpg')">
  <div class="container">
    <div class="glass">
      <img src="assets/Image/logo-01.svg" id="logo">
      <h5 style="margin-top: 0.7em">SPONSOHYPE</h5>
      <h6 style="font-size: 2vw;margin-top: 0.7em">Knock on the right doors </h6>
      <div class="row justify-content-center">
       <p class="col-lg-9 col-10"> Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labor
        e et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat</p>
      </div>
      <div class="row justify-content-between buttonsRow">
        <a href="/sign-up-sponsor" type="button" class="btn btn-outline-light col-lg-4 col-md-5 col-sm-12" style="margin-bottom: 5px"> Join as a sponsor</a>
        <a href="/sign-up-sponsee" type="button" class="btn btn-outline-light col-lg-4 col-md-5 col-sm-12"> Looking for sponsorship </a>
      </div>
    </div>
  </div>
</div>s

  <div class="noticeMe">
    <h6 style="font-weight: bold; text-align: center; font-size: 2em">How it works! </h6>

    <div class="row block-row">
      <div class="col-md-7 col-11 block">
        <h6>What are you looking for ? </h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod
          tempor incididunt ut labor  e et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat
        </p>
      </div>
      <div class="col-md-5 col-1 " >
        <img src="assets/Image/firstHome.jpg" class="block-img right" >
      </div>
    </div>

    <div class="row block-row">
      <div class="col-lg-5 col-md-5 col-sm-1 ">
        <img src="assets/Image/secondHome.jpg" class="block-img Left">
      </div>
      <div class="col-lg-7 col-md-7 col-sm-11  block text-right">
        <h6>Find your perfect match </h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod
          tempor incididunt ut labor  e et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat
        </p>
      </div>

    </div>

    <div class="row block-row">
      <div class="col-md-7 col-11 block">
        <h6>Connect with them / send request </h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod
          tempor incididunt ut labor  e et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat
        </p>
      </div>
      <div class="col-md-5 col-1">
        <img src="assets/Image/thirdHome.jpg" class="block-img right">
      </div>
    </div>

    <div class="row block-row justify-content-center  text-center" style="margin-bottom: 10em">
      <div style="position: absolute;width: 115vw;height: 90vh;margin-top: -25vh;overflow-x: hidden">
        <iframe src='https://my.spline.design/untitled-edced27a933c05654bbef7c56f086169/' frameborder='0' width='100%' height='100%' id="iframe"></iframe>
      </div>
      <h6 class="col-8" style="font-weight: 400" >Make deals and Make money </h6>
      <p class="col-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod
        tempor incididunt ut labor  e et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat
      </p>
      <div class="col-8 text-center" style="margin:2em 0em">
      <button (click)="onScrollBack()" routerLinkActive="active" type="button" class="btn btn-outline-light scrollUp">
      Start the journey
        <span class="material-icons" style="margin-left: 0.2em">arrow_upward</span>
      </button>
      </div>
    </div>
  </div>

</div>
