<div style="height: fit-content; width: 100vw;transition: all 200ms linear;padding-top: 15vh;">
  <img src="assets/Image/PurpleCircle.svg" alt="Design" class="design">

  <div class="goals">
    <div class="goal col-xl-4 col-sm-7 col-md-5 col-lg-4">
      <h1>Our Goal</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing
        elit,sed do eiusmod tempor incididunt ut labor
        e et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat</p>
      <p style="color: #D07AD6">
        Lorem , ipsum dolor , sit amet
      </p>
    </div>
    <div class="col-12 image_goals">
      <img src="assets/Image/Happypplaboutus.svg" alt="Happy" class="happy">
      <img src="assets/Image/happypplaboutusCut.svg" alt="Happy" class="happy1">
    </div>
  </div>


  <div class="c1">

    <div style="display: flex">
      <h2 class="borderr">Two Birds,</h2>
      <h2 >One Stone</h2>
    </div>
    <p  class="paragraphs">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labor
      e et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat
    </p>
  </div>

  <div style="padding-top: 5vh; padding-right: 10vw; text-align: end; margin-bottom: 20vh; z-index: 5">
    <div style="display: flex; justify-content: flex-end; z-index: 2">
      <h2 class="borderr" style="margin-bottom: 3vh; margin-top: 9vh">Almost </h2>
      <h2 style="margin-bottom: 3vh; margin-top: 9vh">, Unreal</h2>
    </div>
    <p style="padding-right: 5vw; z-index: 2" class="paragraphs2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labor
      e et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labor
      e et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat
    </p>
  </div>

  <div class="meettheteam" style="background-image: url('assets/Image/Fondd.png')">
    <div class="teammemberskol" style="background-image: url('assets/Image/Intersection 1.png')">
      <h1 style="text-align: center">Meet the team</h1>
      <div class="row col-12 justify-content-center grid-container" style="margin-top: 13vh">
        <div class="teammember text-center">
          <img src="assets/Image/chedly.jpg" alt="team_member1" class="member"  style="width: 200px;"/>
          <h4>Chedly ben Azizi</h4>
          <h5 style="margin-bottom: 7vh;">%team%</h5>
        </div>
        <div class="teammember text-center">
          <img src="assets/Image/taha.jpg" alt="team_member1" class="member"  style="width: 200px;"/>
          <h4>Taha Yassine Tizaoui</h4>
          <h5 style="margin-bottom: 7vh;">%team%</h5>
        </div>
        <div class="teammember text-center">
          <img src="assets/Image/aya.jpg" alt="team_member1" class="member" style="width: 200px;"/>
          <h4>Aya Bahri</h4>
          <h5 style="margin-bottom: 7vh;">%team%</h5>
        </div>
        <div class="teammember text-center ">
          <img src="assets/Image/achraf.jpg" alt="team_member1" class="member" style="width: 200px;"/>
          <h4>Achref Trabelsi</h4>
          <h5 style="margin-bottom: 7vh;">%team%</h5>
        </div>
        <div class="teammember text-center ">
          <img src="assets/Image/Yassine.png" alt="team_member1" class="member" style="width: 200px;"/>
          <h4>Yassine Chamkhi</h4>
          <h5 style="margin-bottom: 7vh;">%team%k</h5>
        </div>
      </div>
    </div>
  </div>



  <h1 style="padding-left: 15vw; padding-top: 20vh">Leave us a <span style="color: #754F0D">message</span></h1>
  <div class="row justify-content-between" style="margin-right: 0; margin-left: 0;">

    <app-about-us-form class="col-md-8 col-sm-11 formmessage"></app-about-us-form>
    <div class="col-2 m3awja">
      <h1 style="color: #B2458A; writing-mode: vertical-lr; letter-spacing: 1vw">We reply fast </h1>
    </div>
  </div>
</div>
