<footer class="footer mt-auto">
 <img src="assets/Image/footerTop.svg" class="back">
 <div class="footerBottom">
  <div class="row justify-content-around mainrow">
    <div class="col-md-5 col-sm-8">
      <h6>
        Sponsohype
      </h6>
      <div class="row el">
        <span class="material-icons"> alternate_email </span>
        <span class="text-white"> contact@sponsohype.com</span>
      </div>

      <div class="row el">
        <span class="material-icons"> place </span>
        <span class="text-white"> INSAT, CUN, Tunis 2022</span>
      </div>

      <div class="row el">
        <span class="material-icons"> local_phone </span>
        <span class="text-white"> +216 54 651 807 </span>
      </div>
    </div>
    <div class="col-md-5 col-sm-8 social">
      <h6>
        Follow us on social media
      </h6>
      <div class="row justify-content-around" style="max-width: 100%; min-width: 100%">
        <i class="fab fa-twitter col-lg-3 col-md-6 col-3"></i>
        <i class="fab fa-linkedin-in col-lg-3 col-md-6 col-3"></i>
        <i class="fab fa-instagram col-lg-3 col-md-6 col-3"></i>
        <i class="fab fa-facebook-f col-lg-3 col-md-6 col-3"></i>
      </div>

      <div class="row copyright">
        <span class="material-icons">copyright</span>
        <span> 2021 Sponsohype. All Rights Reserved </span>
      </div>
    </div>
  </div>





  </div>

</footer>
